h2{
    text-align: center
}
div{
    width: 20%;
    margin: 0 auto;
    /* border: 1px solid #ff0; */
    text-align: left;
    padding-left: 5%;
    margin-top: 30px;
}
input{
    width: 100%;
    height: 50px;
    background-color: lightseagreen;
    color: #ffffff;
    border: none;
}
p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid black;
}