<h2>个人信息</h2>
<form action="#" method="GET">
  <p>
    <span>姓名：</span>
    <input type="text" #name>
  </p>
  <p>
    <span>性别：</span>
    <input type="text" #sex>
    <!-- <input type="radio" name="sex" value="male" id="male">
    <label for="male">男</label>
    <input type="radio" name="sex" value="famale" id="famale">
    <label for="famale">女</label> -->
  </p>
  <p>
    <span>年龄：</span>
    <input type="text" #age>
  </p>
  <p>
    <span>电话：</span>
    <input type="text" #tel>
  </p>
  <p>
    <span>住址：</span>
    <input type="text" #address>
  </p>
  <input type="submit" value="保存" (click)="save(name.value,sex.value,age.value,tel.value,address.value)" />
</form>
