<h2>个人信息</h2>
<form action="#" method="GET">
  <p>
    <span>姓名：</span>
    <input type="text" #name [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}">
  </p>
  <p>
    <span>性别：</span>
    <input type="text" #sex [(ngModel)]="data.sex" [ngModelOptions]="{standalone: true}">
  </p>
  <p>
    <span>年龄：</span>
    <input type="text" #age [(ngModel)]="data.age" [ngModelOptions]="{standalone: true}">
  </p>
  <p>
    <span>电话：</span>
    <input type="text" #tel [(ngModel)]="data.tel" [ngModelOptions]="{standalone: true}">
  </p>
  <p>
    <span>住址：</span>
    <input type="text" #address [(ngModel)]="data.address" [ngModelOptions]="{standalone: true}">
  </p>
  <input type="submit" value="保存" (click)="save(name.value,sex.value,age.value,tel.value,address.value)" />
</form>
